@using TravelDiary.Models.Classes
@model List<Blog>

@foreach (var x in Model)
{
    <div class="right">
        <div class="bot-left">
            <img src="@x.BlogImage" alt="" />
        </div>
        <div class="left-text">

            <h4>@x.Title</h4>
            <span class="doller">@x.History</span>
            <p>@x.Explanation</p>
            <p><a href="/Blog/BlogDetail/@x.ID"><span class="read">Read More >></span></a></p>
        </div>
    </div>
}